<header class="header">
  <nav class="container">
    <li><a href="/">Go home</a></li>
    <li><a href="/contest/1">test link 1</a></li>
    <li><a href="/contest/2">test link 2</a></li>
    <li><a href="/contest/3">test link 3</a></li>
    <li><a href="/contest/4">test link 4</a></li>
  </nav>
</header>